.controls {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        float: right;
    }
}

.post-element {
    width: 100vw;
    tr {
        padding: 1rem 0;

        td {
            border: 0.3px solid $lightgrey;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 550;
            padding: 1rem;

            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }

            .icons {
                margin: 0.3rem;
            }
        }
    }
}

@media (max-width: 768px) {
}

// Login Page

.login-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(3, 7, 63) 0%, rgb(9, 30, 121) 35%, rgba(0, 212, 255, 1) 100%);

    .login-wrapper {
        width: 400px;
        margin: 0 auto;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(167, 59, 59, 0.3);

        margin-top: 4rem;

        .form-title {
            font-size: 2rem;
            text-align: center;
            color: white;
            font-weight: 550;
        }

        form {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .form-field {
                text-align: center;
                width: 100%;
                margin: 1rem auto;

                input {
                    width: 100%;
                    padding: 1rem;
                    border-radius: 0.25rem;
                    background: white;
                    font-size: 1.5rem;

                    &::placeholder {
                        color: rgb(37, 35, 35);
                        font-size: 1.5rem;
                    }
                }
                button {
                    padding: 1rem;
                    width: 100%;
                }
            }
        }

        .box {
            text-align: center;
            color: $light;
            margin: 1rem 0;
        }
    }
}
