.blog-container {
    padding: 1rem;
    margin: 1rem;

    display: grid;
    // grid-template-columns: min-content auto;
    gap: 1rem 1rem;
    grid-template-areas: "sidebar posts";
    grid-template-columns: minmax(0, 30%) 70%;

    .sidebar {
        grid-area: sidebar;
    }
    .post {
        grid-area: posts;
    }

    .blog-post-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.category {
    // align-items: center;
    padding: 0 1rem;

    .subtitle {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 550;
    }

    table {
        // margin-top: 2rem;

        th,
        tbody {
            tr {
                padding: 1rem 0;

                td {
                    border: 1px solid $lightgrey;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 550;
                    padding: 1rem;

                    &:hover {
                        background: lightgrey;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// Media Queries
@media (max-width: 768px) {
    .blog-container {
        padding: 0 1rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "sidebar"
            "posts";

        .post-subheading {
            margin: 1.3rem 0;
            display: block;

            p {
                margin: 0.3rem 0;
            }

            span {
                font-weight: 600;
            }
        }
    }
}

// // .banner-img {
// //     background: url("/images/Home/bg1.jpg");
// //     width: 100%;
// //     height: 50vh;
// //     background-size: cover;
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// //     justify-content: center;

// //     .banner-text {
// //         font-size: 5rem;
// //         color: $white;
// //         line-height: 1;
// //     }

// //     .banner-desc {
// //         font-size: 2rem;
// //         background: $white;
// //     }

// //     img {
// //         width: 100%;
// //         height: 50vh;
// //     }
// // }

// // // Create Blog
// // .create {
// //     margin: 20;
// //     background: $black;
// //     color: $white;
// // }

// // // Posts Start
// // .post-container {
// //     display: grid;
// //     grid-template-columns: repeat(3, 1fr);
// //     gap: 1rem 1rem;
// //     grid-template-areas: "post posts post";
// //     flex-wrap: wrap;

// //     .post {
// //         grid-area: posts;
// //     }
// // }

// // // Posts Ends

// // // Post Start
// // .box {
// //     height: 350px;
// //     margin: 1rem;
// //     border: 1px solid gray;
// //     border-radius: 0.5rem;
// //     display: flex;
// //     align-items: center;
// //     flex-direction: column;

// //     img {
// //         width: 100%;
// //         height: 150px;
// //     }
// // }
// // // Post Ends

// // // media query Starts
// // @media screen and (max-width: 600px) {
// //     .banner-img {
// //         width: 100%;
// //         height: 50vh;
// //         .banner-text {
// //             font-size: 3rem;
// //             color: $white;
// //             line-height: 1;
// //         }

// //         .banner-desc {
// //             font-size: 1.3rem;
// //             background: $white;
// //         }

// //         img {
// //             width: 100%;
// //             height: 50vh;
// //         }
// //     }
// // }

// // @media screen and (max-width: 992px) {
// // }
