.post-container {
  padding: 0.3rem;
  width: 300px;
  min-height: 420px;
  border-radius: 5%;
  position: relative;
  margin: 16px;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 0 6px $shadow-light;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px $shadow-light;
    cursor: pointer;
  }

  .banner {
    .banner-image {
      width: 100%;
      object-fit: cover;
      border-radius: 5% 5% 0 0;
    }
    &:hover {
      transform: scale(1.01);
    }
  }

  a {
    padding: 10px 0;
    text-decoration: none;
  }

  .post-body {
    padding: 10px;
    text-align: justify;

    .post-info {
      font-size: small;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .author-name {
        color: $text-light;
        text-align: left;
      }

      .publish-date {
        color: $text-light;
        float: right;
        text-align: end;
      }
    }

    .post-title {
      color: $text-dark;
      padding: 0;
      margin: 0;
      font-size: 1.3rem;
      font-family: $roboto;
      font-weight: 700;
      margin: 1rem auto;
    }

    .post-description {
      color: $text-dark;
      font-family: $poppins;
      font-size: 14px;
      line-height: 1.6;
    }

    a {
      color: $ascent-color;
    }
  }
}
