.event-page {
  background: url(../images/bg1.jpg);
  height: 100%;
  background-attachment: fixed;
  background-size: cover;

  * {
    // border: 1px solid red;
  }

  .past-events {
    position: relative;
    text-align: center;
    color: $light;
    z-index: 1 !important;

    h1 {
      position: relative;
      font-family: $baloo-bhai;
      font-size: 4rem;
      font-weight: 600;

      span {
        color: $orange;
        font-family: $baloo-bhai;
      }
    }
  }

  .event-container {
    width: 80vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 0.5fr [start] 1.25fr 5fr 1.25fr [end] 0.5fr 1fr;
    gap: 1rem;

    * {
      // border: 0.3px solid red;
      grid-column: 3 / 6;
    }

    .event {
      @include glass-morphism(0.5rem);

      position: relative;
      // margin: 1rem;

      .box {
        padding: 0.2rem;
        display: flex;
        gap: 1rem;
        overflow: hidden;

        .image-wrapper {
          // width: 50%;
          img {
            // height: 300px;
            width: 100%;
            box-sizing: border-box;
            // border-radius: 8px;
            vertical-align: middle;
            border: 0;
          }
        }

        .content {
          // width: 50%;
          padding-left: 5px;

          h3 {
            font-size: 1.3rem;
            text-align: center;
            color: $light;
            font-family: "Roboto", serif;
            font-weight: bold;
          }

          p {
            font-size: 1rem;
            text-align: justify;
            text-justify: inherit;
            font-family: "Roboto", serif;
            color: $light;
          }
        }
      }
    }
  }
}

.box-left {
  left: 0;
}

.box-right {
  left: 50%;
}

@media (max-width: 768px) {
  .event-container {
    .event {
      .box {
        flex-direction: column;

        .content {
          h3 {
            font-size: 1rem;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
