@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&display=swap");
.page-info {
  margin: 1rem 0;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.title span {
  color: #da7e16;
}

.underline {
  position: relative;
  width: 20rem;
  height: 1px;
  background: #b3a3a3;
  border-radius: 2rem;
  margin: 1rem auto;
  margin-top: 1rem;
}

.underline::before {
  content: "";
  width: 6rem;
  height: 0.6rem;
  background: #da7e16;
  border-radius: 2rem;
  position: absolute;
  top: -5px;
  left: 35%;
}

.button {
  padding: 0.8rem 2rem;
  border-radius: 3.3rem;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: #fff;
  background: #da7e16;
  -webkit-box-shadow: 0 0 0.5rem rgba(37, 36, 36, 0.685);
          box-shadow: 0 0 0.5rem rgba(37, 36, 36, 0.685);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-animation: dance 1s infinite;
          animation: dance 1s infinite;
}

.button:hover {
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(37, 36, 36, 0.685);
          box-shadow: 0 0 5px rgba(37, 36, 36, 0.685);
}

nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; */
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
}

nav .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container .logo .logo-img {
  cursor: pointer;
  padding-right: 8px;
}

nav .container .logo .logo-img img {
  height: 50px;
  display: block;
}

nav .container .logo .logo-text {
  font-weight: bolder;
  color: #fff;
  padding-left: 8px;
  border-left: 2px solid #fff;
}

nav .container .logo .logo-text h5 {
  display: block;
  font-size: 16px;
  line-height: 0.3;
}

nav .container .logo .logo-text span {
  font-weight: bolder;
  color: #da7e16;
  font-size: 12px;
  line-height: 0.5;
}

nav .container .nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

nav .container .nav-links li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

nav .container .nav-links li:hover::after {
  width: 100%;
}

nav .container .nav-links li::after {
  content: "";
  width: 0%;
  height: 4px;
  background: #da7e16;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .container .nav-links li a {
  /* font-size: medium !important; */
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.post-wrapper .post-container {
  padding: 0.3rem;
  width: 330px;
  border-radius: 5%;
  position: relative;
  margin: 16px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-box-shadow: 0 0 6px rgba(230, 214, 214, 0.884);
          box-shadow: 0 0 6px rgba(230, 214, 214, 0.884);
}

.post-wrapper .post-container:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 20px rgba(230, 214, 214, 0.884);
          box-shadow: 0 0 20px rgba(230, 214, 214, 0.884);
  cursor: pointer;
}

.post-wrapper .post-container .banner .banner-image {
  width: 100%;
  border-radius: 5% 5% 0 0;
}

.post-wrapper .post-container a {
  padding: 10px 0;
  text-decoration: none;
}

.post-wrapper .post-container .post-body {
  padding: 10px;
  text-align: justify;
}

.post-wrapper .post-container .post-body .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-wrapper .post-container .post-body .post-title {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 1rem auto;
}

.post-wrapper .post-container .post-body .post-description {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .title {
  text-align: center;
}

/* div {
    display: block;
    position: relative;
  } */
.profile-box {
  -webkit-box-shadow: 0 0 0.5rem rgba(230, 214, 214, 0.884);
          box-shadow: 0 0 0.5rem rgba(230, 214, 214, 0.884);
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 50px;
  text-align: center;
  width: 300px;
  padding: 2rem 0;
  border-radius: 5px;
  margin: 16px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.profile-box .profile-img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.profile-box .profile-img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.8;
}

.profile-box .profile-img img {
  height: 200px;
  width: 200px;
}

.profile-box .member-info h3 {
  color: #28262d;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: none;
}

.profile-box .member-info p {
  color: #6e6e6e;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 0%;
}

.profile-box .social-handle a a {
  text-decoration: none;
}

.profile-box:hover .member-info p {
  color: #6e6e6e;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0%;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 4px;
}

.btn:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  color: #fff;
  background-color: #da7e16;
}

.btn-dark {
  color: #fff;
  background: #343a40;
  border-color: #343a40;
}

.round {
  border-radius: 50% !important;
}

.ml-2,
.mx-2 {
  margin-left: 8px !important;
}

.mr-2,
.mx-2 {
  margin-right: 8px !important;
}

/* Media queries */
.hero-section {
  background: url(../images/Home/bg1.jpg);
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.hero-section .past-events {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1 !important;
}

.hero-section .past-events h1 {
  position: relative;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 4rem;
  font-weight: 600;
}

.hero-section .past-events h1 span {
  color: #da7e16;
  font-family: "Baloo Bhai 2", cursive;
}

.event {
  position: relative;
  margin: 1rem;
}

.event .box {
  position: relative;
  border-radius: 1rem;
  min-width: 380px;
  padding: 0.2rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.event .box .box-content {
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  background: rgba(255, 255, 255, 0.21);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  border-width: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.event .box .box-content .img-box {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.event .box .box-content .img-box:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.8;
}

.event .box .box-content .img-box img {
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  vertical-align: middle;
  border: 0;
}

.event .box .box-content .content {
  padding-left: 5px;
}

.event .box .box-content .content h3 {
  text-align: center;
  padding-top: 0px;
  color: #36b7eb;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 20px;
}

.event .box .box-content .content p {
  margin: 0;
  padding: 0px 0 0;
  text-align: justify;
  text-justify: inherit;
  font-family: "Roboto", serif;
  color: white;
  font-size: 16px;
}

.box-left {
  left: 0;
}

.box-right {
  left: 50%;
}

.wrapper {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.wrapper .course-wrapper {
  background: -webkit-gradient(linear, left top, right bottom, from(#17181a), color-stop(#141821), color-stop(#101929), color-stop(#0b1930), to(#051937));
  background: linear-gradient(to right bottom, #17181a, #141821, #101929, #0b1930, #051937);
  background: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1.2px);
          backdrop-filter: blur(1.2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.wrapper .course-wrapper .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  min-height: 300px;
  -ms-flex-item-align: stretch !important;
      -ms-grid-row-align: stretch !important;
      align-self: stretch !important;
  background: rgba(0, 0, 0, 0.651);
}

.wrapper .course-wrapper .course-image {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wrapper .course-wrapper .course-image:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.8;
}

.wrapper .course-wrapper .course-image img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: cover;
  width: 100%;
}

.wrapper .course-wrapper .course-info {
  background: none;
  background: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1.3px);
          backdrop-filter: blur(1.3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.wrapper .course-wrapper .course-info .course-title {
  color: #000;
  margin: 1rem 0;
}

.wrapper .course-wrapper .course-info .course-title h3 {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

.wrapper .course-wrapper .course-info .course-desc {
  margin: 1rem 1rem;
  margin-bottom: 2rem;
}

.wrapper .course-wrapper .course-info .course-desc p {
  font-family: sans-serif;
  font-size: 1.3rem;
  text-align: justify;
  color: #000;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .wrapper .course-wrapper img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-size: cover;
    height: 100%;
  }
}

.top-contact-wrapper {
  -webkit-box-shadow: 0 0 0.1rem rgba(230, 214, 214, 0.884);
          box-shadow: 0 0 0.1rem rgba(230, 214, 214, 0.884);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0.2rem;
}

.top-contact-wrapper .item {
  background: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1.2px);
          backdrop-filter: blur(1.2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 0.5rem rgba(230, 214, 214, 0.884);
          box-shadow: 0 0 0.5rem rgba(230, 214, 214, 0.884);
  padding: 1.5rem;
  width: 300px;
  height: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  border-radius: 5px;
}

.top-contact-wrapper .contact-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Baloo Bhai 2", cursive;
  text-align: center;
}

.top-contact-wrapper .address-info .desc i {
  text-align: center;
  display: block;
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 0;
  color: #da7e16;
}

.top-contact-wrapper .address-info .desc p {
  display: block;
  text-align: justify;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  width: 70%;
  margin: 0 auto;
}

.top-contact-wrapper .address-info .desc p a {
  text-decoration: none;
  color: #000;
}

.top-contact-wrapper .contact-info {
  margin-bottom: 2rem;
}

.top-contact-wrapper .contact-info .desc {
  padding: 0 1rem;
}

.top-contact-wrapper .contact-info .desc i {
  text-align: left;
  display: inline;
  font-size: 2rem;
  margin-right: 1rem;
  color: #da7e16;
}

.top-contact-wrapper .contact-info .desc p {
  display: inline;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.top-contact-wrapper .contact-info .desc p a {
  color: #000;
}

.contact-section {
  width: 80%;
  height: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 1rem;
}

.contact-section .contact-card {
  -webkit-box-shadow: 0 0 8px rgba(230, 214, 214, 0.884);
          box-shadow: 0 0 8px rgba(230, 214, 214, 0.884);
  width: 300px;
  border-radius: 5px;
  padding: 1.3rem;
  line-height: 25px;
  font-size: 16px;
  margin-top: 1rem;
}

.contact-section .contact-card .profile-info .contact-card-title {
  font-weight: 600;
  font-size: 20px;
}

.contact-section .contact-card .profile-info p {
  line-height: 2;
}

.contact-section .contact-card .profile-info a {
  color: #000;
}

.profile-img img {
  height: 200px;
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.form-section .collapsible {
  background: transparent;
  border: none;
  margin: 0.5rem auto !important;
}

.form-section .collapsible .collapsible-header {
  background: transparent;
  padding: 0.3rem !important;
}

.form-section .collapsible .page-subtitle {
  font-size: 2rem;
  text-align: center;
}

.back-to-top {
  display: inline-block;
  text-decoration: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(37, 36, 36, 0.685);
          box-shadow: 0 0 5px rgba(37, 36, 36, 0.685);
  border: none;
  color: #fff;
  background: #da7e16;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back-to-top:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.back-to-top:active {
  background: rgba(0, 0, 0, 0.6);
}

.back-to-top:focus {
  background-color: #da7e16;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.back-to-top.show {
  display: none;
}

@-webkit-keyframes dance {
  0% {
    margin-top: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    margin-top: 30px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    margin-top: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dance {
  0% {
    margin-top: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    margin-top: 30px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    margin-top: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.swiper {
  width: 100%;
  height: 100vh;
  background: #000;
}

.swiper .swiper-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper .swiper-wrapper .swiper-slide .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.swiper .swiper-wrapper .swiper-slide .bg-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-backface-visibility: hidden !important;
          backface-visibility: hidden !important;
  will-change: transform;
  -webkit-transition: -webkit-transform 1500ms ease;
  transition: -webkit-transform 1500ms ease;
  transition: transform 1500ms ease;
  transition: transform 1500ms ease, -webkit-transform 1500ms ease;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 0.8;
}

.swiper .swiper-wrapper .swiper-slide .content-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.swiper .swiper-wrapper .swiper-slide .content-box .content {
  height: 100%;
  width: 80%;
}

.swiper .swiper-wrapper .swiper-slide .content-box .content h1 {
  font-size: 5rem;
  font-weight: 800;
}

.swiper .swiper-wrapper .swiper-slide .content-box .content p {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  padding: 10px 10px;
  border-radius: 0;
  width: auto;
  height: 20px;
  font-size: 12px;
  opacity: 0.5;
  background: #007aff;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
  border: 2px solid #fff;
}

@media screen and (max-width: 992px) {
  .content-box .content {
    height: 100%;
    width: 80%;
  }
  .content-box .content h1 {
    font-size: 3rem !important;
    font-weight: 700;
  }
  .content-box .content p {
    font-size: 1em;
  }
  .content-box .button {
    margin-top: 0.5rem 2rem;
    padding: 0.5rem 2rem !important;
    letter-spacing: 0.1rem;
  }
  .swiper-pagination .swiper-pagination-bullet {
    padding: 5px;
    border-radius: 0;
    width: auto;
    height: 10px;
  }
}

footer .container .row {
  width: 80vw;
}

footer .container .row .footer-header {
  font-size: 1.6rem;
  padding-left: 1rem;
  border-left: 5px solid #da7e16;
  text-align: justify;
}

footer .container .row .footer-info .fa {
  color: #da7e16;
}

footer .container .row .footer-info a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
}

footer .container .row .footer-info p {
  line-height: 1.5;
}

footer .container .row .useful-links li {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

footer .container .row .useful-links li a {
  border-bottom: 2px solid #da7e16;
}

footer .container .row .useful-links li:hover {
  margin-right: 2px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer .container .row .footer-contact .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .row .footer-contact .social-links a {
  margin: 0 0.5rem;
  padding: 0;
}

footer .container .row .footer-contact .social-links a .btn {
  font-size: 16px;
  margin-top: 0;
}

footer .footer-copyright {
  font-size: 1.3rem;
}

footer .footer-copyright p {
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #eee;
}

footer .footer-copyright .fa-heart {
  color: red;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-animation: pulse 1.3s infinite;
          animation: pulse 1.3s infinite;
}

footer .footer-copyright .fa-heart:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer .footer-copyright a {
  color: #da7e16;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer .footer-copyright a:hover {
  background-color: rgba(190, 140, 46, 0.315);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #da7e16;
  border-radius: 5rem;
}

body {
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
}

.container,
.parallax-container {
  margin: 1.5rem auto;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Styling */
html {
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  padding-bottom: 100px;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 2%;
  margin: 0%;
  display: block;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
}

.hero-btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #6f4e37;
  background: #fff;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  padding-top: 10px;
}

.page-title span {
  font-weight: 550;
  color: #da7e16;
}

.page-subtitle {
  font-size: 20px;
  text-align: center;
  font-weight: 550;
  color: #000;
}

.page-subtitle h3 {
  font-size: 2.1rem;
  color: #2F4858;
}

.centre-subtitle {
  font-size: 20px;
  margin-top: 40px;
  text-transform: capitalize;
  font-weight: 500;
}

/* down -btn */
.down-btn {
  position: absolute;
}

.down-btn .round-btn i {
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #da7e16;
  position: relative;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.down-btn .round-btn i:hover {
  color: #fff;
  background-color: #da7e16;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
  -webkit-animation: normal;
          animation: normal;
}

.overlay {
  height: 100%;
  width: 100%;
  background-blend-mode: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #fff;
  text-align: center;
}

.mid {
  display: block;
  margin: 0 auto;
}

.p-info {
  text-align: justify;
}

.pulse a:hover {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
/*# sourceMappingURL=stylesheet.css.map */